<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="font/css/all.min.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/cardngu.css">
    <link rel="stylesheet" href="css/footer.css">
    <title>Trang Chủ</title>
    <style>
      .nav-item {
        border-radius: 46px;
      }
      .nav-item:hover {
        background-color: #f5f5f5;
      }
      .layout-header-top {
        border-bottom: 1px solid #eeeeee;
      }
      .text-color-gray {
    color: #666666; 
}
    .background-color-footer{
      background-color: #eeeeee;
    }
    .text-color-orange{
      color: #ff5b00;
    }
    .background-color-orange{
      background-color: #ff5b00;
    }
    .background-color-nhat{
      background-color: #fff0e5;
    }
    .text-color-blue{
      color: #2a4bf2;
    }
    .background-color-blue-nhat{
      background-color: #7898f9;
    }
    /* CSS */
/* CSS */

.Nav_Title h3 {
    margin-left: 110px;
}

@media (max-width: 768px) {
    .Nav_Title h3 {
        margin-left: 0;  /* Đặt lại margin khi kích thước màn hình nhỏ hơn hoặc bằng 768px */
        text-align: center;  /* Căn giữa với màn hình nhỏ */
    }
}
.align-middle {
    display: flex;
    align-items: center;
}
li{
   list-style-type: none;
}





    </style>
  </head>
  <body>
      
    <!-- Code_MENu -->
    
    

    <section class="container"  style="margin-top: 115px;">
      <div class="row">

      <div class="container col-sm-3" style="margin-top: 26px;">

        <ul class="list-group no-bullets">
          
          <li class="list-group-item fw-bold text-color-blue" >
            Lọc theo điểm đến
          </li>
          <li class="" >
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label text-color-orange" for="flexCheckDefault">
                        Đông Á
                      </label>
                    </div>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Trung Quốc
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Hàn Quốc
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label text-color-orange" for="flexCheckDefault">
                        Châu Âu
                      </label>
                    </div>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Đức
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Pháp
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Nga
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Thủy Sỹ
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Áo
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label text-color-orange" for="flexCheckDefault">
                        Châu Mỹ
                      </label>
                    </div>
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Brazin
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="container col-sm-9">


          
        <div class="row" style="margin-top: 26px; border: solid 1px #dfdfdf ">
          <div class="boloc" style="border: solid 1px #dfdfdf ; border-radius: 10px;">
            <h5>Tìm Thấy 2 kết quả</h5>
            <div class=" container chitietboloc d-flex mb-2">
              <form class="d-flex me-2">
                <div class="input-group ">
                  <select class="form-select rounded-pill text-danger " id="destinationFilter">
                    <option selected >Có thể đặt</option>
                    <option value="destination1">TPHCM</option>
                    <option value="destination2">Hà Nội</option>
                    <!-- Add more destinations as needed -->
                  </select>
                </div>
              </form>
              <div class="dropdown me-2">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Mức Giá 
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <div class="">
                    <label for="customRange">Mức Giá</label>
                    <input type="range" class="form-range" id="customRange">
                    <div class=" d-flex" style="justify-content: space-between;">
                      <button type="button" class="btn background-color-nhat">Hủy</button>
                      <button type="button" class="btn background-color-orange text-white">OK</button>
                    </div>
                </div> 
                </ul>
              </div>
              <div class="xacnhan" style="border: solid 1px #666666 ; border-radius: 10px;">
                <div class="form-check">

                  <label class="form-check-label mt-1" for="flexRadioDefault1">
                    Xác nhận hiện tại
                  </label>
                  <input class="form-check-input mt-2" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4  mt-3" ng-repeat="p in productcard ">
              <div class="card" id="card_product">
                  <img src="images/{{p.image}}.jpg" class="card-img-top img-fluid w-70" alt="...">
                  
                  <div class="card-body">
                      <div class="diadiem text-color-gray">Tour <i class="fa-solid fa-location-dot fa-2xs"></i> {{p.location}}</div>
                      <h5 class="card-title text-black">Du lịch {{p.tourTitle}}</h5>
                      <h6 class="ngaykhoihanh text-color-gray"> Ngày Khởi Hành: {{p.date}}</h6>
                      <div class="rate_point text-color-gray" style="font-size: 14px;" ><i class="fa-solid fa-star" style="color: #FFD43B;"></i> {{p.rating}} Đã đặt được</div>
                      <div class="text-color-gray d-flex"> <h6 class="me-1">Chỉ </h6><h6 class="fw-bold text-dark">đ </h6><h6 class="price fw-bold text-danger ms-1">{{p.price}}</h6>
                        <h6 class="text-color-orange ms-1 mb-3 text-decoration-line-through " style="font-size: 14px;">Giảm {{p.salePrice}}</h6>
                      </div>                      
                      <div class="d-flex justify-content-between ">
                          <a href="#!chitietsp/{{p.id}}" class="btn btn-primary">Xem chi Tiết</a>
                          <a href="#" ng-click="addProduct(p)" class="btn btn-primary">Đặt Tour <i class="fa-solid fa-cart-plus"></i></a>

                      </div>
                  </div>
              </div>
          </div>
          
          

      </div>  
      </div>
    </div>

      <nav class="container mt-5">
        <div class="container">
          <div class="Nav_Title">
            <h3>BẠN MUỐN ĐI ĐÂU ?</h3>
          </div>
        </div>
        <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel"  data-bs-interval="false">
          <div class="carousel-inner" id="carousel-inner">
            <div class="carousel-item active">
              <div class="cards-wrapper d-flex justify-content-center align-items-center" id="cards-wrapper">
                <div class="card col-sm-12 col-md-2" id="card_model_gt">
                  <img src="card_di_choi/dalatdasua.jpg" class="card-img-top img-fluid" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">Đà Lạt</h5>
                  </div>
                </div>
                <div class="card d-none d-md-block col-sm-2 col-md-2" id="card_model_gt">
                  <img src="card_di_choi/danangdasua.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">Đà Nẵng</h5>
                  </div>
                </div>
                <div class="card d-none d-md-block col-sm-2 col-md-2" id="card_model_gt">
                  <img src="card_di_choi/halongdasua.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">Hạ Long</h5>
                  </div>
                </div>
                <div class="card d-none d-md-block col-sm-2 col-md-2" id="card_model_gt">
                  <img src="card_di_choi/hanoidasua.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">Hà Nội</h5>
                  </div>
                </div> 
                <div class="card d-none d-md-block col-sm-2 col-md-2" id="card_model_gt">
                  <img src="card_di_choi/hanquocdasua.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">Hàn Quốc</h5>
                  </div>
                </div>
                <div class="card d-none d-md-block col-sm-2 col-md-2" id="card_model_gt">
                  <img src="card_di_choi/huedasua.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">Huế</h5>
                  </div>
                </div>
                 
                 
                                 
              </div>
            </div>
            <div class="carousel-item">
              <div class="cards-wrapper d-flex justify-content-center align-items-center" id="cards-wrapper">
                <div class="card d-none d-md-block col-sm-2 col-md-2" id="card_model_gt">
                  <img src="card_di_choi/mydasua.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">American</h5>
                  </div>
                </div>
                <div class="card d-none d-md-block" id="card_model_gt">
                  <img src="card_di_choi/nhatdasua.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">Nhật</h5>
                  </div>
                </div>
                <div class="card d-none d-md-block" id="card_model_gt">
                  <img src="card_di_choi/nuocanhdasua.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">Anh Quốc</h5>
                  </div>
                </div>
                <div class="card d-none d-md-block" id="card_model_gt">
                  <img src="card_di_choi/phuquydasua.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">Phú Quý</h5>
                  </div>
                </div>
                <div class="card d-none d-md-block" id="card_model_gt">
                  <img src="card_di_choi/thailandasua.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">Thái Lan</h5>
                  </div>
                </div>
                <div class="card d-none d-md-block" id="card_model_gt">
                  <img src="card_di_choi/tphcmdasua.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">Sài Gòn</h5>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="cards-wrapper d-flex justify-content-center align-items-center" id="cards-wrapper">
                <div class="card d-none d-md-block col-sm-2 col-md-2" id="card_model_gt">
                  <img src="card_di_choi/trungquocdasua.jpg" class="card-img-top" alt="...">
                  <div class="card-body" id="card-body_gt">
                    <h5 class="card-title text-white fs-3">Tung Của</h5>
                  </div>
                </div>
              </div>
          </div>
          <button class="carousel-control-prev dieukhientien" id="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" id="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next dieukhienlui" id="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
            <span class="carousel-control-next-icon" id="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </nav>

    
      <div class="container">
        <div class="row mt-4">
                    <div class="col ">
                        <nav aria-label="Page navigation">
                            <ul class="pagination  justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">5</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">6</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">7</a>
                                </li>
                                

                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        
                    </div>
                </div>
      </div>
      <div class="banner-section-card-hot"></div>
      <div class="banner-section-card-location"></div>
    </section>
    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script>
      function stopPropagation(event) {
          event.stopPropagation();
      }
  </script>
  </body>
</html>
